!!! 5
%html
  %head{:lang => "en"}
    %meta{:name => "apple-itunes-app", :content => "app-id=552732872"}
    %script
      var dj_counts_dj_reports_url = "#{dj_counts_dj_reports_url}"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = javascript_include_tag "dj_mon/dj_mon"
    = stylesheet_link_tag "dj_mon/dj_mon", :media => "screen, projection"
    = yield :head

  %body
    %header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            .pull-left
              = link_to "DJ Mon", dj_reports_url, :class => "brand"
            .pull-right
              = link_to "Settings", "#dj_settings_template", :rel => 'modal', "data-content" => DjMon::DjReport.settings.to_json, :id => "settings", :class => "btn btn-primary btn-mini"

            .pull-right
              #dj-counts-view

    .container.centered
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]

    .container
      = yield

    %script#dj_counts_template{ :type=> "text/x-handlebars-template" }
      %span.badge.badge-warning
        {{failed}} failed
      %span.badge.badge-info
        {{queued}} queued
      %span.badge.badge-info
        {{active}} active
      %span.badge.badge-info
        {{all}} all

    = modal_dialog_template "dj_settings", "Settings" do
      %table.table.table-bordered.table-striped
        %tr
          %td
            Delayed Job version
          %td
            %code {{content.delayed_job_version}}
        %tr
          %td
            DJ Mon version
          %td
            %code {{content.dj_mon_version}}
        %tr
          %td
            Destroy failed jobs
          %td
            %code {{content.destroy_failed_jobs}}
        %tr
          %td
            Sleep delay
          %td
            %code {{content.sleep_delay}}
            seconds
        %tr
          %td
            Max attempts
          %td
            %code {{content.max_attempts}}
        %tr
          %td
            Max run time
          %td
            %code {{content.max_run_time}}
            seconds
        %tr
          %td
            Read ahead
          %td
            %code {{content.read_ahead}}
        %tr
          %td
            Delay Jobs
          %td
            %code {{content.delay_jobs}}
